

@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Details>
@using ContentModels = Umbraco.Web.PublishedModels;

@{
	Layout = "master.cshtml";
}

    <body>
       
        
        
        

        <div id="preloader">
            <div id="status">&nbsp;</div>
        </div>
        

       <div class="page-head"> 
        @{
    var headerpicture = Model.Value<IPublishedContent>("headerFoto",fallback: Fallback.ToAncestors);
    if (headerpicture != null)
    {
        <img src="@headerpicture.Url" />
             
    }
    }  
        </div>
        <!-- End page header -->

        <!-- property area -->
        <div class="content-area single-property" style="background-color: #FCFCFC;">&nbsp;
            <div class="container">   

                <div class="clearfix padding-top-40" >

                    <div class="col-md-8 single-property-content prp-style-1 ">
                        <div class="row">
                            <div class="light-slide-item">            
                                <div class="clearfix">
                                    <div class="favorite-and-print">
                                        <a class="add-to-fav" href="#login-modal" data-toggle="modal">
                                            <i class="fa fa-star-o"></i>
                                        </a>
                                        <a class="printer-icon " href="javascript:window.print()">
                                            <i class="fa fa-print"></i> 
                                        </a>
                                    </div> 
                                    
                                    

                                    <div id="image-gallery"class="gallery list-unstyled cS-hidden">

       
@{
    var houseForSale = Model.Value<IEnumerable<IPublishedContent>>("imagesOfHouse");
    foreach (var item in houseForSale)
    {
      <li data-thumb="@item.GetCropUrl(width:300, height:300)">
     <a href="@item.Url"> <img src  ="@item.GetCropUrl(width:800, height:500)"/></a>
   </li>
    }
}
  
  
  
  
  
                                        
                                       <!-- <li data-thumb="img/property-1/property1.jpg"> 
                                            <img src="img/property-1/property1.jpg" />
                                        </li>
                                        <li data-thumb="img/property-1/property2.jpg"> 
                                            <img src="img/property-1/property3.jpg" />
                                        </li>
                                        <li data-thumb="img/property-1/property3.jpg"> 
                                            <img src="img/property-1/property3.jpg" />
                                        </li>
                                        <li data-thumb="img/property-1/property4.jpg"> 
                                            <img src="img/property-1/property4.jpg" />
                                        </li>     -->                                    
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="single-property-wrapper">
                            <div class="single-property-header">                                          
                                <h1 class="property-title pull-left">@Model.Value("nameOfProperty")</h1>
                                <span class="property-price pull-right">@Model.Value("propertyPrice")</span>
                            </div>

                            <div class="property-meta entry-meta clearfix ">   

                                <div class="col-xs-6 col-sm-3 col-md-3 p-b-15">
                                   <span class="property-info-icon icon-tag">                                        
                                        <img src="/img/icon/sale-orange.png">
                                    </span>
                                    <span class="property-info-entry">
                                        <span class="property-info-label">Status:</span>
                                        <span class="property-info-value">@Model.Value("status")</span>
                                        
                                    </span>
                                </div>

                                <div class="col-xs-6 col-sm-3 col-md-3 p-b-15">
                                    <span class="property-info icon-area">
                                       <img src="/img/icon/room-orange.png">
                                    </span>
                                    <span class="property-info-entry">
                                        <span class="property-info-label">Area:</span>
                                        <span class="property-info-value">@Model.Value("areal")</span>
                                    </span>
                                </div>

                                <div class="col-xs-6 col-sm-3 col-md-3 p-b-15">
                                    <span class="property-info-icon icon-bed">
                                        <img src="/img/icon/bed-orange.png">
                                    </span>
                                    <span class="property-info-entry">
                                        <span class="property-info-label">Bedrooms:</span>
                                        <span class="property-info-value">@Model.Value("bedroom")</span>
                                    </span>
                                </div>

                                <div class="col-xs-6 col-sm-3 col-md-3 p-b-15">
                                  <span class="property-info-icon icon-bed">
                                        <img src="/img/icon/cars-orange.png">
                                    </span>
                                    <span class="property-info-entry">
                                        <span class="property-info-label">Dinning Room:</span>
                                       <span class="property-info-value">@Model.Value("dinningRooms")</span>
                                    </span>
                                </div>

                                <div class="col-xs-6 col-sm-3 col-md-3 p-b-15">
                                    <span class="property-info-icon icon-bath">
                                        <img src="/img/icon/os-orange.png">
                                    </span>
                                    <span class="property-info-entry">
                                        <span class="property-info-label">Bathrooms:</span>
                                        <span class="property-info-value">@Model.Value("bathrooms")</span>
                                    </span>
                                </div>

                                <div class="col-xs-6 col-sm-3 col-md-3 p-b-15">
                                  <span class="property-info-icon icon-garage">
                                        <img src="/img/icon/cars-orange.png">
                                    </span>
                                    <span class="property-info-entry">
                                        <span class="property-info-label">sting room:</span>
                                        <span class="property-info-value">@Model.Value("rooms")</span>
                                    </span>
                                </div>
                                
                                <div class="col-xs-6 col-sm-3 col-md-3 p-b-15">
                                   <span class="property-info-icon icon-garage">
                                        <img src="/img/icon/shawer-orange.png">
                                    </span>
                                    <span class="property-info-entry">
                                        <span class="property-info-label">Toilet:</span>
                                        <span class="property-info-value">@Model.Value("toillet")</span>
                                    </span>
                                </div>
                                <div class="col-xs-6 col-sm-3 col-md-3 p-b-15">
                                    <span class="property-info-icon icon-bed">
                                        <img src="/img/icon/bed-orange.png">
                                    </span>
                                    <span class="property-info-entry">
                                        <span class="property-info-label">Garage:</span>
                                        <span class="property-info-value">@Model.Value("garage")</span>
                                    </span>
                                </div>

                            </div>
                            <!-- .property-meta -->

                            <div class="section">
                                <h4 class="s-property-title">Description</h4>
                                <div class="s-property-content">
                                    <p>@Model.Value("historyOfTheHouse") </p>
                                </div>
                            </div>
                            <!-- End description area  -->

                            <div class="section additional-details">

                                <h4 class="s-property-title">@Model.Value("additional")</h4>

                                <ul class="additional-details-list clearfix">
                                    <li>
                                        <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Waterfront</span>
                                        <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">@Model.Value("waterfront")</span>
                                    </li>

                                    <li>
                                        <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Built In</span>
                                        <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">@Model.Value("builtIn")</span>
                                    </li>
                                    <li>
                                        <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Parking</span>
                                        <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">@Model.Value("parking")</span>
                                    </li>

                                    <li>
                                        <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Anex</span>
                                        <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">@Model.Value("anex")</span>
                                    </li>

                                    <li>
                                        <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">View</span>
                                        <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">@Model.Value("outView")</span>
                                    </li>

                                    <li>
                                        <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Garden</span>
                                        <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">@Model.Value("garden")</span>
                                    </li> 

                                </ul>
                            </div>  
                            <!-- End additional-details area  -->

                            <div class="section property-features">      

                                <h4 class="s-property-title">Features</h4>                            
                                <ul>
                                    <li><a href="properties.html">Swimming Pool</a></li>   
                                    <li><a href="properties.html">3 Stories</a></li>
                                    <li><a href="properties.html">Central Cooling</a></li>
                                    <li><a href="properties.html">Jog Path 2</a></li>
                                    <li><a href="properties.html">2 Lawn</a></li>
                                    <li><a href="properties.html">Bike Path</a></li>
                                </ul>

                            </div>
                            <!-- End features area  -->

                          <!--  publish a video-->
                              
                          <!--
                                <div class="section property-video"> 
                                <h4 class="s-property-title">Property Video</h4> 
                                <div class="video-thumb">
                                    <a class="video-popup" href="yout" title="Virtual Tour">
                                        <img src="img/property-video.jpg" class="img-responsive wp-post-image" alt="Exterior">            
                                    </a>
                                </div>
                            </div>
                             End video area  -->
                            
                            

                            <div class="section property-share"> 
                                <h4 class="s-property-title">Share width your friends </h4> 
                                <div class="roperty-social">
                                    <ul> 
                                                                                
                                        <li><a title="Share this on facebook " href="https://www.facebook.com"><img src="/img/social_big/facebook_grey.png"></a></li> 
                                                                            
                                    </ul>
                                </div>
                            </div>
                            <!-- End video area  -->
                            
                        </div>
                    </div>


                    <div class="col-md-4 p0">
                        <aside class="sidebar sidebar-property blog-asside-right">
                            <div class="dealer-widget">
                                <div class="dealer-content">
                                    <div class="inner-wrapper">

                                        <div class="clear">
                                            <div class="col-xs-4 col-sm-4 dealer-face">
                                                <a href="">
                                                    <img src="/img/client-face1.png" class="img-circle">
                                                </a>
                                            </div>
                                            <div class="col-xs-8 col-sm-8 ">
                                                <h3 class="dealer-name">
                                                    <a href="">@Model.Value("agentName")</a>
                                                    <span> @Model.Value("agentTitle")</span>        
                                                </h3>
                                                <div class="dealer-social-media">
                                                    <a class="twitter" target="_blank" href="https://twitter.com/">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                    <a class="facebook" target="_blank" href="https://www.facebook.com/rukem.smart/">
                                                        <i class="fa fa-facebook"></i>
                                                    </a>
                                                    
                                                    <a class="linkedin" target="_blank" href="https://www.linkedin.com/">
                                                        <i class="fa fa-linkedin"></i>
                                                    </a> 
                                                    <a class="instagram" target="_blank" href="https://www.instagram.com/">
                                                        <i class="fa fa-instagram"></i>
                                                    </a>       
                                                </div>

                                            </div>
                                        </div>

                                        <div class="clear">
                                            <ul class="dealer-contacts">                                       
                                                <li><i class="pe-7s-map-marker strong"> </i> @Model.Value("agentAdress")</li>
                                                <li><i class="pe-7s-mail strong"> </i> @Model.Value("agentEmail")</li>
                                                <li><i class="pe-7s-call strong"> </i> @Model.Value("agentTelf")</li>
                                            </ul>
                                            
                                        </div>

                                    </div>
                                </div>
                            </div>

                           

                            <div class="panel panel-default sidebar-menu wow fadeInRight animated">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Publicite  </h3>
                                </div>
                                <div class="panel-body recent-property-widget">
                                    <img src="/img/ads.jpg">
                                    <img src="/img/ads.jpg">
                                </div>
                            </div>
                         
                        </aside>
                    </div>
                </div>

            </div>
        </div>













