@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.HouseToSale>
@using ContentModels = Umbraco.Web.PublishedModels;

@{
	Layout = null;
}

<!DOCTYPE html>

<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>House for sale</title>
        <meta name="description" content="IREBERE">
        <meta name="Rukem" content="IREBERE">
        <meta name="keyword" content="html5, css, bootstrap, property, real-estate theme , bootstrap template">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="shortcut icon" href="favicon.icon" type="/img/icon/bed.pnge/x-icon">
        <link rel="icon" href="favicon.ico" type="/img/icon/bed.pnge/x-icon">

        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/fontello.css">
       <link href="/fonts/icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet">
        <link href="/fonts/icon-7-stroke/css/helper.css" rel="stylesheet">
        <link href="/css/animate.css" rel="stylesheet" media="screen">
        <link rel="stylesheet" href="/css/bootstrap-select.min.css"> 
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/icheck.min_all.css">
        <link rel="stylesheet" href="/css/price-range.css">
        <link rel="stylesheet" href="/css/owl.carousel.css">  
        <link rel="stylesheet" href="/css/owl.theme.css">
        <link rel="stylesheet" href="/css/owl.transitions.css">
        <link rel="stylesheet" href="/css/iduka.css">
        <link rel="stylesheet" href="/css/responsive.css">
        
    </head>

    <body>
         
               
          <div class="page-head">
             
                 @{
    var headerpicture = Model.Value<IPublishedContent>("headerFoto");
    if (headerpicture != null)
    {
    
                
        <img src="@headerpicture.Url" />
        
                
          
             
                
    }
    }

  <div class="container">
                  <div class="row">
                   <div class="page-head-content">

<h1 class="page-title"><b>@Model.Value("pageTitle")</b></h1>
          </div>                  
            
        </div>
        </div>                  
            
        </div>

        <section id="home">

<div class="container hero-text2">
  <h3>@Model.Value("bodyTitle")</h3>
  </div>
  
</section>


        <!-- property area -->
               
         
     @{
	var selection = Umbraco.Content(Guid.Parse("a493e29a-defd-4054-bd2d-38bbaff45ff1"))
    .ChildrenOfType("details")
    .Where(x => x.IsVisible());
    }

    <div class="content-area recent-property" style="padding-bottom: 60px; background-color: rgb(252, 252, 252);">
    <div class="container">
       <div class="row">
               
   <div class="col-md-12  padding-top-40 properties-page">
            <div class="col-md-12 ">

	@foreach (var item in selection)
	{
	var thumbnail= item.Value<IPublishedContent>("thumbnailImage");

                             
	                        <div id="list-type" class="proerty-th">
	                         <div class="col-sm-6 col-md-3 p0">
                                  
                                  
                             <div class="box-two proerty-item">
      
		                     <div class="item-thumb">
		
	<a href="@item.Url"><img src="@thumbnail.Url"> </a>
		    
			<a href="@item.Url">@item.Name</a>
			
			</div>
			</div>
			</div>
			</div>
			
			  
	                  
	}
                                   
    
   </div>
   </div>
   </div>
   </div>
   </div>
                                    <!--   <div class="item-entry overflow">
                                            <h5><a href="Details.html"> Super nice villa</a><br><b>Price:</b>$ 300,000</h5>
                                           
                                            <div class="dot-hr"></div>
                                            
                                          
                                        </div>

</div>
 </div>
                                   
                                                        
                                     
                                     
                                     
                                     
                                     
                                     
                                     
                                     
                                     
                                     
                                   
                         <div class="col-sm-6 col-md-3 p0">
                                    <div class="box-two proerty-item">
                                        <div class="item-thumb">
                                            <a href="Details.html" ><img src="img/demo/property-2.jpg"></a>
                                        </div>

                                        <div class="item-entry overflow">
                                            <h5><a href="Details.html"> Super nice villa</a><br><b>Price:</b>$ 400,000</h5>
                                            <div class="dot-hr"></div>
                                           
                                        </div>


                                    </div>
                                </div> 

                                <div class="col-sm-6 col-md-3 p0">
                                    <div class="box-two proerty-item">
                                        <div class="item-thumb">
                                            <a href="Details.html" ><img src="img/demo/property-1.jpg"></a>
                                        </div>

                                        <div class="item-entry overflow">
                                            <h5><a href="Details.html"> Super nice villa</a><br><b>Price:</b>$ 300,000</h5>
                                            <div class="dot-hr"></div>
                                           
                                            
                                            
                                        </div>


                                    </div>
                                </div> 

                                <div class="col-sm-6 col-md-3 p0">
                                    <div class="box-two proerty-item">
                                        <div class="item-thumb">
                                            <a href="Details.html" ><img src="img/demo/property-3.jpg"></a>
                                        </div>

                                        <div class="item-entry overflow">
                                            <h5><a href="Details.html"> Super nice villa</a><br><b>Price:</b>$ 300,000</h5>
                                            <div class="dot-hr"></div>
                                           
                                            
                                            
                                        </div>


                                    </div>
                                </div> 

                                <div class="col-sm-6 col-md-3 p0">
                                    <div class="box-two proerty-item">
                                        <div class="item-thumb">
                                            <a href="Details.html" ><img src="img/demo/property-6.jpg"></a>
                                        </div>

                                        <div class="item-entry overflow">
                                            <h5><a href="Details.html"> Super nice villa</a><br><b>Price:</b>$ 300,000</h5>
                                            <div class="dot-hr"></div>
                                           
                                            
                                            
                                        </div>


                                    </div>
                                </div> 

                                <div class="col-sm-6 col-md-3 p0">
                                    <div class="box-two proerty-item">
                                        <div class="item-thumb">
                                            <a href="Details.html" ><img src="img/demo/property-2.jpg"></a>
                                        </div>

                                        <div class="item-entry overflow">
                                            <h5><a href="Details.html"> Super nice villa</a><br><b>Price:</b>$ 300,000</h5>
                                            <div class="dot-hr"></div>
                                           
                                            
                                            
                                        </div>


                                    </div>
                                </div> 

                                <div class="col-sm-6 col-md-3 p0">
                                    <div class="box-two proerty-item">
                                        <div class="item-thumb">
                                            <a href="Details.html" ><img src="img/demo/property-3.jpg"></a>
                                        </div>

                                        <div class="item-entry overflow">
                                            <h5><a href="Details.html"> Super nice villa</a><br><b>Price:</b>$ 300,000</h5>
                                            <div class="dot-hr"></div>
                                           
                                        </div>


                                    </div>
                                </div> 

                                <div class="col-sm-6 col-md-3 p0">
                                    <div class="box-two proerty-item">
                                        <div class="item-thumb">
                                            <a href="Details.html" ><img src="img/demo/property-2.jpg"></a>
                                        </div>

                                        <div class="item-entry overflow">
                                            <h5><a href="Details.html"> Super nice villa</a><br><b>Price:</b>$ 300,000</h5>
                                            <div class="dot-hr"></div>
                                           
                                            
                                            
                                        </div>


                                    </div>
                                </div> 

                                <div class="col-sm-6 col-md-3 p0">
                                    <div class="box-two proerty-item">
                                        <div class="item-thumb">
                                            <a href="Details.html" ><img src="img/demo/property-5.jpg"></a>
                                        </div>

                                        <div class="item-entry overflow">
                                            <h5><a href="Details.html"> Super nice villa</a><br><b>Price:</b>$ 300,000</h5>
                                            <div class="dot-hr"></div>
                                           
                                            
                                            
                                        </div>


                                    </div>
                                </div> 
                                
                               <div class="col-sm-6 col-md-3 p0">
                                    <div class="box-two proerty-item">
                                        <div class="item-thumb">
                                            <a href="Details.html" ><img src="img/demo/property-3.jpg"></a>
                                        </div>

                                        <div class="item-entry overflow">
                                            <h5><a href="Details.html"> Super nice villa</a><br><b>Price:</b>$ 300,000</h5>
                                            <div class="dot-hr"></div>
                                           
                                            
                                            
                                        </div>


                                    </div>
                                </div> 

                                <div class="col-sm-6 col-md-3 p0">
                                    <div class="box-two proerty-item">
                                        <div class="item-thumb">
                                            <a href="Details.html" ><img src="img/demo/property-2.jpg"></a>
                                        </div>

                                        <div class="item-entry overflow">
                                            <h5><a href="Details.html"> Super nice villa</a><br><b>Price:</b>$ 300,000</h5>
                                            <div class="dot-hr"></div>
                                           
                                            
                                            
                                        </div>


                                    </div>
                                </div> 

                               <div class="col-sm-6 col-md-3 p0">
                                    <div class="box-two proerty-item">
                                        <div class="item-thumb">
                                            <a href="Details.html" ><img src="img/demo/property-3.jpg"></a>
                                        </div>

                                        <div class="item-entry overflow">
                                            <h5><a href="Details.html"> Super nice villa</a><br><b>Price:</b>$ 300,000</h5>
                                            <div class="dot-hr"></div>
                                           
                                            
                                            
                                        </div>


                                    </div>
                                </div>   
                                
                                

                            </div>
                        </div>
           
                    </div>  
                </div>
            </div>
        </div>-->

         <script src="/js/modernizr-2.6.2.min.js"></script>

        <script src="/js/jquery-1.10.2.min.js"></script>
        <script src="/bootstrap/js/bootstrap.min.js"></script>
        <script src="/js/bootstrap-select.min.js"></script>
        <script src="/js/bootstrap-hover-dropdown.js"></script>

        <script src="/js/easypiechart.min.js"></script>
        <script src="/js/jquery.easypiechart.min.js"></script>

        <script src="/js/owl.carousel.min.js"></script>   
        <script src="/js/wow.js"></script>

        <script src="/js/icheck.min.js"></script>
        <script src="/js/price-range.js"></script>

        <script src="/js/main.js"></script>
        
    
        

    </body>
</html>
          
          
